// Цвета из переменных Figma
$color-gray: #404141;
$color-dark-gray: #222727;
$color-light-brown: #bb863f;
$color-brown: #794a0b;
$color-light-gray-1: #f2f2f2;
$color-light-gray-2: #a6a5a6;
$color-white: #ffffff;
$color-light-beige: #f4f0e9;

// Цвета из макета без переменных Figma
$color-page-bg: #fdfdfb;
$color-header-bg: #fefcfc;
$color-header-border: #e5e5e5;
$color-card-border: #e0e0e0;
