<header class="header">
  <div class="container">
    <img class="logo" src="/images/logo.png" width="191" height="36" alt="Логотип">
  </div>
</header>

<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__header">Места, которые стоит увидеть хотя бы раз в жизни</h1>
      <div class="hero__separator"></div>
      <p class="hero__descr">Необычные рестораны, отели, развлечения<br>и другие уникальные места со всего мира</p>
      <div class="hero__decoration"></div>
    </div>
  </div>
</section>

<section class="places">
  <div class="container">
    <div class="places__list">
      @for (place of places; track place.id) {
        <article class="place-card" [class.place-card--expanded]="place.isExpanded">
          <img class="place-card__image" [src]="place.imageUrl" [alt]="place.name">
          <div class="place-card__body">
            <h2 class="place-card__title">{{ place.name }}</h2>
            <div class="place-card__info">
              <div class="place-card__meta">
                <p class="place-card__category">{{ place.category }}</p>
                <p class="place-card__location">{{ place.city }}, {{ place.country }}</p>
              </div>
              <div class="place-card__stats">
                <div class="place-card__rating">
                  <img class="place-card__star" src="/images/rating-star.svg" alt="Рейтинг">
                  {{ place.rating.toFixed(1) }}
                </div>
                @if (place.priceLevel) {
                  <div class="place-card__price">{{ '€'.repeat(place.priceLevel) }}</div>
                }
              </div>
              @if (place.tags.length) {
                <ul class="place-card__tags">
                  @for (tag of place.tags; track tag) {
                    <li class="place-card__tag">{{ tag }}</li>
                  }
                </ul>
              }
              <p class="place-card__description">{{ place.description }}</p>
            </div>
            <button class="place-card__more" type="button" (click)="place.isExpanded = !place.isExpanded">
              {{ place.isExpanded ? 'Скрыть' : 'Подробнее' }}
            </button>
          </div>
        </article>
      }
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="footer__about">
      <img class="logo" src="/images/logo.png" width="191" height="36" alt="Логотип">
      <p class="footer__copyright">© 2026 unique.places</p>
    </div>
    <div class="footer__links">
      <a class="footer__link" href="#">Pinterest</a>
      <a class="footer__link" href="#">Telegram</a>
    </div>
  </div>
</footer>
